.card {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e8f3fc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  border-left: none;
  padding: 10px;
}

.icon {
  width: 17px;
  height: 17.4px;
}

.chevron {
  width: 24px;
  height: 24.56px;
  margin-right: 2em;
}

.horizontal-line {
  height: 1px;
  border-top: 0.4px solid var(--horizontalLineBlue);
}

.stripes-box {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.mw-70 {
  max-width: 70px;
}

.text-color {
  color: #484954;
}

.hide {
  display: none;
}

.show {
  display: contents;
}

.wh-24 {
  width: 24px;
  height: 24px;
}

.rotate {
  transform: rotateX(180deg);
}
