:root {
  --lightGrey: #f8fafc;
  --lightBlue: #489dda;
  --darkRed: #f44336;
  --horizontalLineBlue: #0d4477;
  --offWhite: #f8fafc;
  --textBlue: #489dda;
  --snackBarBackground: #333;
  --snackBarTextWhite: #fff;

  --border8: 8px;
  --border100: 100px;

  --fontSize12: 12px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize24: 24px;
}