@import "./styles/variables.css";
@import "./styles/overrides.css";

body {
  background-color: var(--lightGrey);
  color: var(--darkPurple);
}

.g-pointer {
  cursor: pointer;
}

.g-mw-43 {
  max-width: 43px;
}

.g-mw-55 {
  max-width: 55px;
}

.g-mw-1000 {
  max-width: 1000px;
}

.g-fs-12 {
  font-size: var(--fontSize12);
}

.g-fs-18 {
  font-size: var(--fontSize18);
}

.g-fs-20 {
  font-size: var(--fontSize20);
}

.g-fs-24 {
  font-size: var(--fontSize24);
}

.g-fw-b {
  font-weight: bold;
}

.g-blue-text {
  color: var(--text);
  font-size: 14px;
}

.g-custom-button {
  background: var(--lightBlue);
  border-radius: var(--border100);
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--lightGrey);
  max-width: 232px;
}

.g-snackbar {
  min-width: 50px;
  margin-left: -125px;
  border-radius: var(--border8);
  background-color: var(--snackBarBackground);
  color: var(--snackBarTextWhite);
  text-align: center;
  padding: 5px;
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
  left: 80%;
}
